body {
  font-family: sans-serif;
  font-size: 14px;
}

.axis path {
  fill: none;
  /*stroke: #8eafbf;*/
  stroke: 'white';
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: #8eafbf;
  /*stroke: 'white';*/
  shape-rendering: crispEdges;
}

.axis text {
  fill: #8eafbf;
  stroke: none;
}



/*svg {
  border: 1px solid black;
}*/

.title {
  font-size: 26px;
  fill: #3a4f5a;
}

#data {
  width: 500px;
}

.a-path {
  fill: none;
  stroke-width: 1.5px;
}
