.vis {
  display: inline-block;
  margin: 20px auto;
}

.axis path {
  fill: none;
  /*stroke: #8eafbf;*/
  stroke: 'white';
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: #8eafbf;
  /*stroke: 'white';*/
  shape-rendering: crispEdges;
}

.axis text {
  fill: #8eafbf;
  stroke: none;
}

.title {
  font-size: 26px;
  fill: #3a4f5a;
}

#data {
  width: 500px;
}

.a-path {
  fill: none;
  stroke-width: 2.5px;
}

.connectors {
  stroke-width: 2.5px;
}

 .micro-card {
   overflow: hidden;
   display: inline-block;
   text-align: center;
 }

 .stat {
   color: #2975e9;
   font-size: 5em;
 }
